<x-meta id="olbapro-datasheet" label="Datasheet" group="Olbapro">

  <template>
      <olbapro-datasheet sheetid="1DbEGqsURzXtxHXsqSMSdIONK87iZJYCfdop44VReZTE" ></olbapro-datasheet>
  </template>

  <property name="sheetid"
            kind="string">
  </property>


<property name="position"
            kind="number">
  </property>


  <template id="imports">
     <link rel="import" href="../google-sheets/google-sheets.html">
    <link rel="import" href="olbapro-datasheet.html">
  </template>

</x-meta>