
<polymer-element name="olbapro-grid" attributes="rows insertAllowed readonly selectionmode data">

<template>
  <style>


  :host {
    position: absolute;
    

    box-sizing: border-box;
    margin: 0;
  }

  .cell {
    border-left: 1px solid black;
    background-color:lightblue;
    font-family: Tahoma;
    width: 100px;
    font-size: 14px;

 padding-left:5px; 
  }

  .cellPosition {
    background-color:lightblue;
    font-family: Tahoma;
    width: 100px;
    font-size: 14px;
    text-align:right;
    cursor: pointer;
     padding-left:5px;

  }

  .header {
    border-left: 1px solid black;
    font-family: Tahoma;
    width: 100px;
    display:block;
    font-size: 14px;
    font-weight: bold;
    background-color:RoyalBlue  ;
    color:white;
    text-align: left;
    padding-left:5px; 
  }

  .gridDiv{
    border: 1px solid black;
  }
  .gridHeader{
    border-top: 1px solid black;
    border-right: 1px solid black;
  }


  </style>
  <div >
    <div id="headerDiv" class="gridHeader" horizontal layout></div>
    <div id="mydiv" class="gridDiv"  >

    </div> 
  </div>
  <paper-slider id="slider" min="1" max="{{maxSlider}}" value="1" on-change="{{changeSlider}}"></paper-slider>
</template>


<script>
Polymer('olbapro-grid', {
  rows:1,
  columnsName:[],
  currentRow:-1,
  data:[],
  selectedRows:[],
  deleteRows:[],
  firstRow:0,
  selectionmode:"none",
  insertAllowed:false,
  readOnly:false,
  maxSlider:5,
  lastSortColumn:"",
  preventDataChanged:false,
  currentRow:0,
  ready: function () {
    var columns=this.children[0];

    var span=this.$.headerDiv.appendChild(document.createElement("span"));
    span.innerHTML ="";
    span.className="header";             

    span.style.width="24px";
    span.style.height="30px";

    for (var i=0;i<columns.children.length;i++){
      this.columnsName.push(columns.children[i].id);

      var span=this.$.headerDiv.appendChild(document.createElement("span"));
      span.id="header"+columns.children[i].id;
      span.innerHTML =columns.children[i].label;
      span.className="header";   
      span.onclick=function(event){this.offsetParent.clickHeader(event)};
          

      var width=columns.children[i].width;

      if (width!=""){
        span.style.width=width;
      }
      span.style.height="30px";
    }


    for (var j=0;j<this.rows;j++){
      var row=this.$.mydiv.appendChild(document.createElement("div"));
      row.id="row"+pad(j,3);
      row.style.height="30px";

      var span=row.appendChild(document.createElement("paper-input")); 
      span.id="pos"+pad(j,3);       
      span.className="cellPosition";               
      span.style.width="24px";
      span.style.height="30px";
      span.disabled=true;
      span.onclick=function(event){this.offsetParent.clickPosition(event)};


      for (var i=0;i<columns.children.length;i++){
        var obj=document.createElement("paper-input");
        obj.id=columns.children[i].id+pad(j,3);
        obj.label="";
        obj.className="cell";



        var width=columns.children[i].width;
        if (columns.children[i].updateallowed==null || !columns.children[i].updateallowed){
          obj.updateallowed=false;
        }else{
          obj.updateallowed=true;
        }

         if (columns.children[i].insertallowed==null || !columns.children[i].insertallowed){
          obj.insertallowed=false;
        }else{
          obj.insertallowed=true;
        }

        if (width!=""){
          obj.style.width=width;
        }
        obj.style.height="30px";

        obj.onkeydown=function(event){this.offsetParent.keyDown(event)};
        obj.onfocus=function(event){this.offsetParent.focus(event)};
        obj.onblur=function(event){this.offsetParent.blur(event)};

        row.appendChild(obj);
      }             
    }


    if (this.insertAllowed){
      this.maxSlider=this.data.length-this.rows+2;
    }else{
      this.maxSlider=this.data.length-this.rows+1;
    }
    
    this.refreshData();

  },
  /* Check key for arrows,scape */
  keyDown:function(event){

    if (event.keyCode=="40"){ /* Down key */

      var pos=parseInt(right(event.currentTarget.id,3));
      var colum=left(event.currentTarget.id,event.currentTarget.id.length-3)
      var ctr=this.shadowRoot.querySelector("#"+event.currentTarget.id);

      if (pos<this.rows-1){ /* if we are no on the last row */
        this.shadowRoot.querySelector("#"+colum+pad(pos+1,3)).$.input.focus(); /* Focus next line control */
      }else{ /* if we are on the last row */
        if (!this.insertAllowed || this.readonly){  /* If we can not insert */
          if (this.firstRow<this.data.length-this.rows){ /* there is more rows to show */
            if (this.setFirstRow(this.firstRow+1)){ /* try to change first row */
              this.refreshData();  /*Refresh data */
              this.paintData();
              this.$.slider.value=this.firstRow+1;

            }            
          }
        }else{ /* Insert allowed */
         if (this.firstRow==this.data.length-this.rows){ /* we are on de lastrow */
          this.shadowRoot.querySelector("#"+this.columnsName[0]+pad(pos,3)).$.input.focus(); /* focus on the prior line */
        }
        if (this.firstRow<this.data.length-this.rows+1){ /* if there is prior rows */
         if (this.setFirstRow(this.firstRow+1)){ /* try to change first row */
          this.refreshData(); /* Refresh Data */
          this.paintData();
          this.$.slider.value=this.firstRow+1;
        }
      }              
    }
  }
}else if (event.keyCode=="38"){ /* Up key */
  var pos=parseInt(right(event.currentTarget.id,3));
  var colum=left(event.currentTarget.id,event.currentTarget.id.length-3)
  var ctr=this.shadowRoot.querySelector("#"+event.currentTarget.id);

  if (pos>0){ /* if we are not on the first line */
    this.shadowRoot.querySelector("#"+colum+pad(pos-1,3)).$.input.focus(); /* change control to the prior line */
  }else{  /* we are on the first line */
    if (this.firstRow>0){  /* if we are not on the first row */
      if (this.setFirstRow(this.firstRow-1)){ /* Change first row */
        this.refreshData(); /* Refresh Data */
        this.paintData();
        this.$.slider.value=this.firstRow+1;
      }
    }
  }
}else if (event.keyCode=="27"){ /* scape */
  var pos=parseInt(right(event.currentTarget.id,3));
  var colum=left(event.currentTarget.id,event.currentTarget.id.length-3)
  this.shadowRoot.querySelector("#"+colum+pad(pos,3)).value=this.data[this.firstRow+pos][colum];
  /* reset value */
}
},
focus:function(event){
  var pos=parseInt(right(event.currentTarget.id,3));
  if (this.currentRow!=pos){
    var r= this.currentRow;
    this.currentRow=pos;

    this.paintRow(pos);
    this.paintRow(r);    
  }
},
refreshData:function(){
  for (var i=0;i<this.rows;i++){
    if (i+this.firstRow<this.data.length){
      var ele=this.data[this.firstRow+i];
      for (var j=0;j<this.columnsName.length;j++){
        var ctr=this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(i,3));
        ctr.value=ele[this.columnsName[j]];
        ctr.disabled=false;
        if (!ctr.updateallowed || this.readonly){
          ctr.readonly=true;
        }else{
          ctr.readonly=false;
        }
      }  
      this.shadowRoot.querySelector("#pos"+pad(i,3)).value=this.firstRow+i+1;
    }else if (i+this.firstRow==this.data.length){
      for (var j=0;j<this.columnsName.length;j++){
        var ctr=this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(i,3))
        ctr.value=""; 
        if (this.insertAllowed && !this.readonly){
          ctr.readonly=false;
          ctr.disabled=false;
        }else{
          var ctr=this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(i,3))
         
          ctr.readonly=true;
          ctr.disabled=true;       
        }

      }     
    
      if (this.insertAllowed && !this.readonly){
        this.shadowRoot.querySelector("#pos"+pad(i,3)).value="*"; 
       
      }else{
        this.shadowRoot.querySelector("#pos"+pad(i,3)).value=""; 
      }

    }else{
      for (var j=0;j<this.columnsName.length;j++){
        var ctr=this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(i,3))
        ctr.value=""; 
        ctr.readonly=true;      
        ctr.disabled=true;
      }      
      this.shadowRoot.querySelector("#pos"+pad(i,3)).value=""; 
    }
  }
},
blur:function(event){

  var pos=parseInt(right(event.currentTarget.id,3));
  var colum=left(event.currentTarget.id,event.currentTarget.id.length-3)
  var value=this.shadowRoot.querySelector("#"+event.currentTarget.id).value

  if (this.firstRow+pos<this.data.length){
    if (value!=this.data[this.firstRow+pos][colum]){
     var obj={
      "column":colum,
      "row":this.firstRow+pos,
      "value":value,
      "control":this.shadowRoot.querySelector("#"+event.currentTarget.id)
    };
    obj.control.invalid=false;
    this.fire("validatecell",obj);



    if (obj.control.invalid){
      obj.control.style.background="red";
    }else{
      obj.control.style.background="lightgreen";
      this.data[this.firstRow+pos][colum]=value;
      this.data[this.firstRow+pos].status="U";
    }
  }else{
    this.shadowRoot.querySelector("#"+event.currentTarget.id).invalid=false;
    this.shadowRoot.querySelector("#"+event.currentTarget.id).style.background="lightgreen";
    
  }
}else{
  if (value!=""){
    var newObj={};
    for(var j=0;j<this.columnsName.length;j++) {
      newObj[this.columnsName[j]]="";
    } 
    this.preventDataChanged=true;
    this.data.push(newObj);
    this.data[this.firstRow+pos][colum]=value;
    this.data[this.firstRow+pos].status="I";
    this.preventDataChanged=true;
    this.setMaxSlider();
    this.refreshData();
    this.paintData();
  }
}         

},
isInvalid:function(){
  for (var i=0;i<this.rows;i++){
    for (var j=0;j<this.columnsName.length;j++){
      if (this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(i,3)).invalid){
        return true;
      }
    }
  }
  return false;
},
/* change first visible row */
setFirstRow:function(value){
  if (!this.isInvalid()){
    this.firstRow=value;
    return true;
  }else{
    return false;
  }
},
changeSlider:function(){
  if (this.setFirstRow(this.$.slider.value-1)){
    this.refreshData();
    this.paintData();
  }else{

  }
},
setMaxSlider:function(){
 if (this.insertAllowed && !this.readonly){
    this.maxSlider=this.data.length-this.rows+2;
  }else{
    this.maxSlider=this.data.length-this.rows+1;
  }
},
readonlyChanged:function(){
  this.refreshData();
  this.paintData();
  this.setMaxSlider();
},
insertAllowedChanged:function(){
  this.refreshData();
  this.paintData();
  this.setMaxSlider();
},
dataChanged:function(){
  if (!this.preventDataChanged){
    this.setFirstRow(0);
    this.refreshData();
    /* Unselect all */
    for (var i=0;i<this.data.length;i++){
      this.selectedRows.push(false);
      this.deleteRows.push(false);
    }

    this.paintData();
    this.setMaxSlider();
    this.$.slider.value=1;
  }
 
},
clickPosition:function(event){
  if (this.selectionmode!="none"){
    var pos=parseInt(right(event.currentTarget.id,3));
    if (pos+this.firstRow<this.data.length){
      if (this.selectionmode=="multiple"){
       this.selectedRows[pos+this.firstRow]=!this.selectedRows[pos+this.firstRow]; 
     }else{ /*single */
      for (var i=0;i<this.selectedRows.length;i++){
        this.selectedRows[i]=false;
      }
      this.selectedRows[pos+this.firstRow]=true; 
     }
      

      this.paintData();
     if (this.selectedRows[pos+this.firstRow]){
      var obj={"data":this.data[pos+this.firstRow],"position":pos+this.firstRow}
         this.fire("selectedrow",obj);

     }
    }
  }  
},
paintRow:function(row){
  if (row+this.firstRow<this.data.length){
    var selected=false;
    var deleted=false;


    if (this.selectedRows[row+this.firstRow]){
      selected=true;
    }
   if (this.deleteRows[row+this.firstRow]){
      deleted=true;
    }

    for (var j=0;j<this.columnsName.length;j++){     
      if (selected) {
        this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(row,3)).style.background="orange";
      }else if(deleted){
        this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(row,3)).style.background="red";
      }else{
       if (this.currentRow==row){
        this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(row,3)).style.background="lightgreen";
       }else{
        if ((this.firstRow+row)%2==1){
this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(row,3)).style.background="lightblue";
        }else{
          this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(row,3)).style.background="white";
        }
        
       }
      }
    }

    if (selected){
       this.shadowRoot.querySelector("#pos"+pad(row,3)).style.background="orange";
    }else if(deleted){
        this.shadowRoot.querySelector("#pos"+pad(row,3)).style.background="red";
    }else{
      if (this.currentRow==row){
          this.shadowRoot.querySelector("#pos"+pad(row,3)).style.background="lightgreen";
      }else{
        if ((this.firstRow+row)%2==1){
          this.shadowRoot.querySelector("#pos"+pad(row,3)).style.background="lightblue";
        }else{
          this.shadowRoot.querySelector("#pos"+pad(row,3)).style.background="white";
        }
        }
    }
  }else{
    if (row+this.firstRow==this.data.length && this.insertAllowed && !this.readonly ){
    
      for (var j=0;j<this.columnsName.length;j++){
        if (this.currentRow==row){
          this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(row,3)).style.background="lightgreen";
        } else{
          if ((this.firstRow+row)%2==1){
            this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(row,3)).style.background="lightblue";
          }else{
          this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(row,3)).style.background="white";
          } 
        }
      }
      if (this.currentRow==row){
        this.shadowRoot.querySelector("#pos"+pad(row,3)).style.background="lightgreen";
      }else{
        if ((this.firstRow+row)%2==1){
            this.shadowRoot.querySelector("#pos"+pad(row,3)).style.background="lightblue";
          }else{
          this.shadowRoot.querySelector("#pos"+pad(row,3)).style.background="white";
          } 
      }
    }else{  /* No es la linea de insercion nueva */
      for (var j=0;j<this.columnsName.length;j++){
        this.shadowRoot.querySelector("#"+this.columnsName[j]+pad(row,3)).style.background="white";
      }
      this.shadowRoot.querySelector("#pos"+pad(row,3)).style.background="white";
    }
    
  }
 
},
paintData:function(){
  for (var i=0;i<this.rows;i++){
    this.paintRow(i);
  }
},
clickHeader:function(event){
  var column=event.currentTarget.id.substring(6);
this.hiddeColumn(column);
  if (this.lastSortColumn==column){
    this.data.reverse(this.sortFunction(column));
    this.lastSortColumn="";

  }else{
    this.data.sort(this.sortFunction(column));
    this.lastSortColumn=column;
  }

 
  for (var i=0;i<this.selectedRows.length;i++){
    this.selectedRows[i]=false;
  }
  if (this.setFirstRow(0)){
    this.refreshData();
    this.paintData();
  }

},
sortFunction:function(colum){
  return function(a,b){
      var v1=a[colum];
      var v2=b[colum];
      if (v1==v2){
        return 0;
      }else if (v1<v2){
        return -1;
      }else{
        return 1;
      }
  };
},
hiddeColumn:function(columnName){
  this.shadowRoot.querySelector("#header"+columnName).hidden=true;
  for (var i=0;i<this.rows;i++){
     this.shadowRoot.querySelector("#"+columnName+pad(i,3)).hidden=true;
  } 
},
getSelectedRows:function(){
  var arr=[];

  for (var i=0;i<this.selectedRows.length;i++){
    if (this.selectedRows[i]){
      arr.push(i);
    }
  }

  return arr;
},
deleteSelectedRows:function(){
   for (var i=0;i<this.selectedRows.length;i++){
    if (this.selectedRows[i]){
      this.selectedRows[i]=false;
      this.deleteRows[i]=true;
      this.paintData();
    }
  }
},
getDeleteRows:function(){
  var arr=[];

  for (var i=0;i<this.selectedRows.length;i++){
    if (this.deleteRows[i]){
      arr.push(i);
    }
  }

  return arr;
}

});

</script>

</polymer-element>

<polymer-element name="olbapro-column" attributes="label width updateallowed">
  <template></template>
  <script>
    Polymer('olbapro-column', {
      ready:function(){
      },
      updateallowed:false

    });
  </script>
</polymer-element>

<polymer-element name="olbapro-columns" attributes="label visible">
  <template></template>
  <script>
    Polymer('olbapro-columns', {
      ready:function(){
      }

    });
  </script>
</polymer-element>

<script>
function pad(n, width, z) {
  z = z || '0';
  n = n + '';
  return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
}

function left(str, n)
{
  if (n <= 0)
    return "";  
  else if (n > String(str).length)
    return str;
  else
    return String(str).substring(0,n);
}

function right(str, n)
{
  if (n <= 0)
    return "";
  else if (n > String(str).length)
    return str;
  else
  {
    var iLen = String(str).length;
    return String(str).substring(iLen, iLen - n);
  }
}
</script>


